<div class="container">
  <div class="image">
    <img src="./assets/images/login.svg">
  </div>
  <div class="form-container">
    <ng-container *ngIf="isSignupDone==false">
      <h2 class="title">Signup</h2>

      <form [formGroup]="form">

        <mat-form-field appearance="outline">
          <mat-label>Enter your full name</mat-label>
          <input matInput placeholder="Allen joe" formControlName="name" required>
          <mat-error *ngIf="f['name']?.errors?.['required']">Full name is required! </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input matInput placeholder="pat@example.com" formControlName="email" required>
          <mat-error *ngIf="f['email']?.errors?.['required']">Email is required! </mat-error>
          <mat-error *ngIf="f['email']?.errors?.['email']">Invalid email! </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Enter Password</mat-label>
          <input type="password" matInput formControlName="password" required>
          <mat-error *ngIf="f['password']?.errors?.['required']">Password is required! </mat-error>
          <mat-error *ngIf="f['password']?.errors?.['pattern']">Please input a minimum 8 characters password contains a
            combination of
            <strong>Uppercase,
              lowercase letters</strong> and
            <strong>number</strong>!
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input type="password" matInput formControlName="confirmPassword" required>
          <mat-error *ngIf="f['confirmPassword']?.errors?.['required']">Please confirm your password! </mat-error>
          <mat-error *ngIf="f['confirmPassword']?.hasError('confirmPassword')">Password is inconsistent! </mat-error>
        </mat-form-field>
        <div *ngIf="serverError" class="credentials-error">
          <p class="error">{{serverError}}</p>
        </div>
        <div class="actions">
          <button (click)="signUp()" id="basic" color="primary" type="basic" mat-raised-button [disabled]="!form.valid">
            Sign Up
          </button>
        </div>
        <div class="mt-1">Already have an account? <a href="javascript:void(0)" routerLink="/login">
            Login here
          </a></div>
      </form>

    </ng-container>
    <ng-container *ngIf="isSignupDone === true">
      <mat-card class="success-card">
        <mat-card-title>Success</mat-card-title>
        <mat-card-content>
          <p>Thank You For Signing Up</p>
          <p>Please Check Your Email To Verify Your Account!</p>
        </mat-card-content>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button routerLink="/login" id="basic" color="primary" type="basic" mat-raised-button>
            Login
          </button>
        </mat-card-actions>
      </mat-card>
    </ng-container>
  </div>
</div>